*.DS_Store
*.xccheckout

*.xcbkptlist

*.xcworkspacedata

*.xcscheme

*.xcuserstate

.DS_Store

.DS_Store

CameraDemo.xcodeproj/project.xcworkspace/xcuserdata/weirdln.xcuserdatad/UserInterfaceState.xcuserstate

CameraDemo.xcodeproj/project.xcworkspace

CameraDemo.xcodeproj/xcuserdata